@model ALBLOG.Domain.Model.LogPage
@using ALBLOG.Domain.Model
<div>
    <div class="">
        <table class="table table-hover table-condensed ">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>IpAddress</th>
                    <th>Controller</th>
                    <th>Action</th>
                    <th>Content</th>
                    <th>IsAdmin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Logs)
                {
                    <tr class="@(item.IsAdmin ? "success" : item.Type == LogType.Exception ? "danger" : "info") ">
                        <td>@item.Date.AddHours(8).ToString("yyyy/MM/dd HH:mm:ss")</td>
                        <td>@item.IPAddress</td>
                        <td>@item.ControllerName</td>
                        <td>@item.ActionName</td>
                        <td>@item.Content]</td>
                        <td>@item.IsAdmin</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
