@using ALBLOG.Domain.Model
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
    List<Post> posts = ViewData["posts"] as List<Post>;
    int page = Convert.ToInt32(ViewData["page"]);
}
<h1>
    Hi! @ViewBag.Name
    <button class="btn btn-link" id="btnLogOut">log out</button>
</h1>
<div>
    <div>
        <h3>Post Manage</h3>
        <div class="form-group row">
            <a class="col-md-2" href="~/admin/Post">Create a post</a>
            <a class="col-md-2" href="~/admin/Drafts">Drafts(@ViewData["draftCount"])</a>
            <a class="col-md-3" href="~/admin/Profile">Settings</a>
        </div>
    </div>
    <hr />
    <div>
        <div>
            @foreach (var item in posts)
            {
                <div>
                    <div>
                        <a style="color:black" href="~/home/post?title=@item.Title">
                            <text>
                                <strong>
                                    @item.Title
                                </strong>
                                <small>
                                    @item.Date.AddHours(8)
                                </small>
                            </text>
                        </a>
                        <span>标签：</span>
                        @foreach (var tag in item.Tags ?? new List<string>())
                        {
                            <a class="post-tags btn-primary" href="~/home/tag?name=@tag">@tag </a>
                        }
                    </div>
                    <div>
                        <span>
                            <a href="~/admin/editpost?title= @item.Title">Edit</a>
                        </span>
                        <span>
                            <a href="~/admin/deletepost?title= @item.Title" style="color:red">Delete</a>
                        </span>
                        <span>
                            <a href="~/admin/GoToDraftBox?title= @item.Title" style="color:forestgreen">To Draft Box</a>
                        </span>
                    </div>
                </div>
                <br />
            }
        </div>
        <div>
            <span>
                第 @ViewData["page"] 页，
            </span>
            <span>
                共 @ViewData["sum"] 页
            </span>

            @if (ViewData["haveLast"] as string == "true")
            {
                <span>
                    <a href="~/admin/index?index= @(page-1)">
                        上一页
                    </a>
                </span>
            }
            @if (ViewData["haveNext"] as string == "true")
            {
                <span>
                    <a href="~/admin/index?index= @(page+1)">
                        下一页
                    </a>
                </span>
            }
        </div>
    </div>
</div>
