@using ALBLOG.Domain.Model
@{
    ViewData["Title"] = "Index";
    List<Post> posts = ViewData["posts"] as List<Post>;
    int page = Convert.ToInt32(ViewData["page"]);
}
<h1>
    Hi! @ViewBag.Name
    <button class="btn btn-link" id="btnLogOut">log out</button>
</h1>
<div>
    <div>
        <h3>Post Manage</h3>
        <a href="~/admin/CreatePost">create a post</a>
    </div>
    <hr />
    <div>
        <div>
            @foreach (var item in posts)
            {
                <div>
                    <div>
                        <a style="color:black" href="/post/getpost?title=@item.Title">
                            <text>
                                @item.Title
                                <small>
                                    @item.Date.AddHours(8)
                                </small>
                            </text>
                        </a>
                        <span>标签：</span>
                        @foreach (var tag in item.Tags)
                        {
                            <span>@tag</span>
                        }
                    </div>
                    <div>
                        <span>
                            <a href="#">Edit</a>
                        </span>
                        <span>
                            <a href="#" style="color:red">Delete</a>
                        </span>
                    </div>
                </div>
                <hr />
            }
        </div>
        <div>
            <span>
                第 @ViewData["page"] 页，
            </span>
            <span>
                共 @ViewData["sum"] 页
            </span>

            @if (ViewData["haveLast"] as string == "true")
            {
                <span>
                    <a href="~/admin/index/ @(page-1)">
                        上一页
                    </a>
                </span>
            }
            @if (ViewData["haveNext"] as string == "true")
            {
                <span>
                    <a href="~/admin/index/ @(page+1)">
                        下一页
                    </a>
                </span>
            }
        </div>
    </div>
</div>
