@model ALBLOG.Domain.Model.Page
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
<h1 class="padding-8">
    Hi! @ViewBag.Name !
    <button class="btn btn-link" id="btnLogOut">log out</button>
</h1>
<div>
    <div class="padding-8">
        <h3>Post Manage</h3>
        <ul class="nav nav-pills">
            <li> <a href="~/admin/Post">Create a post</a></li>
            <li> <a href="~/admin/Drafts">Drafts (@ViewData["draftCount"])</a></li>
            <li> <a href="~/admin/Profile">Settings</a></li>
        </ul>
    </div>
    @Html.DisplayForModel()
    <div class="padding-8">
        <span>
            第 @Model.Index 页，
        </span>
        <span>
            共 @Model.PageCount 页
        </span>
        @if (Model.HaveLast)
        {
            <span>
                <a href="~/admin/index?index=@(Model.Index-1)">
                    上一页
                </a>
            </span>
        }
        @if (Model.HaveNext)
        {
            <span>
                <a href="~/admin/index?index=@(Model.Index+1)">
                    下一页
                </a>
            </span>
        }
    </div>

</div>
